*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root{
    --span-color: #C5C3C3;
    --bg-color: #fff;
    --bg-banner: #ebebeb;
}

main{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerArea{
    height: 100vh;
    background-color: var(--bg-banner);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginArea{
    padding-left: 100px;
}

/*Header*/

.header{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h2{
    color: #4C4C4C;
    font-weight: 500;
}

.edebeHighlight{
    color: #EB1118 !important;
    font-weight: 500;
}

.loginIntructions{
    color: #c2bdbd;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}

/*Login fields*/

.loginFields{
    display: flex;
    flex-direction: column;
}

.loginFields img{
    position: absolute;
    width: 20px;
}

.loginFields a{
    display: flex;
    justify-content: end;
    text-decoration: none;
    margin-bottom: 30px;
}

.emailField, .passwordField{
    padding-left: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--bg-banner);
    margin-bottom: 30px;
}

.acess{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acess button{
    color: #fff;
    background-color: #EB1118;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin: 0 50px 0;
}